<div class="page-header">
    <h2>Sign Up</h2>
</div>
<div class="row">
    <div class="span8 right">
        <div class="hero-unit">
            <h2>Team Foundation Stenographer</h2>
            <h3>Work item discussion recorder.</h3>
            <p>Email TF Stenographer at <strong>workitemid@@&#8203;tfstenographer.&#8203;azurewebsites.net</strong>. Your email text will be added to the History of the Work Item. Attachments are added too.</p>
        </div>
    </div>
    <div class="span4 left">
        <form>
            <fieldset>
                <label>Email Address</label>
                <input type="email" placeholder="someone@example.com" />
                <span class="help-block">Address you will use for sending to TFS work items.</span>

                <label>TFS Collection URL</label>
                <input type="url" placeholder="http://mysite.visualstudio.com/DefaultCollection" />
                <span class="help-block">Enter the internet-visible URL of your Team Foundation Service team project collection.</span>

                <label>TFS Username</label>
                <input type="text" placeholder="username" />
                <span class="help-block">Your TFS Username. See <a href="" tabindex="-1">here</a> for instructions on enabling alternate credentials on TF Service.</span>

                <label>TFS Password</label>
                <input type="password" />
                <span class="help-block">Your TFS Password.</span>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </fieldset>
        </form>
    </div>
</div>