@model string

<div class="container">
    <div class="hero-unit">
        <h2>Signup Complete!</h2>
        <p>Send an email</p>
        
        <p><strong>From:</strong> @Model</p>
        <p><strong>To:</strong> &lt;Work Item ID&gt;@@tfsteno.azurewebsites.net</p>
        
        <p>The email text will be added to the History of the work item with the "To" ID, and any email attachments will be attached to the work item.</p>
    </div>
</div>

