<div class="page-header">
    <h3>Sign Up</h3>
</div>
<div class="row">
    <div class="span5">
        <div class="hero-unit">
            <h2>Team Foundation Stenographer</h2>
            <h3>Work item discussion recorder.</h3>
            <p>Email TF Stenographer at <strong>workitemid@@&#8203;tfsteno.&#8203;aidanjryan.com</strong>. Your email text will be added to the History of the Work Item. @*Attachments are added too.*@</p>
        </div>
    </div>
    <div class="span7" ng-controller="TfSteno.SignupCtrl" ng-cloak>
        <form name="registrationForm" novalidate>
            <fieldset>
                <div class="control-group">
                    <label for="email">Email Address</label>
                    <input ng-model="registration.Email" id="email" name="email" type="email" placeholder="someone@example.com" autofocus required />
                    <span class="help-inline">Send to work items from this address.</span>
                </div>
                
                <div class="control-group">
                    <label for="tfsUrl">TFS Collection URL</label>
                    <input ng-model="registration.TfsUrl" id="tfsUrl" name="tfsUrl" type="url" placeholder="https://mysite.visualstudio.com/DefaultCollection" required />
                    <span class="help-inline">Public TFS project collection URL.</span>
                </div>
                
                <div class="control-group">
                    <label for="tfsUsername">TFS Username</label>
                    <input ng-model="registration.TfsUsername" id="tfsUsername" name="tfsUsername" type="text" placeholder="username" required />
                    <span class="help-inline">Your TFS Username.</span>
                </div>
                <div class="control-group">
                    <label for="tfsPassword">TFS Password</label>
                    <input ng-model="registration.TfsPassword" id="tfsPassword" name="tfsPassword" type="password" required />
                    <span class="help-inline">Your TFS Password.</span>
                    <div>See <a href="http://blogs.msdn.com/b/buckh/archive/2013/01/07/how-to-connect-to-tf-service-without-a-prompt-for-liveid-credentials.aspx" tabindex="-1">here</a> for instructions on enabling alternate credentials on Team Foundation Service.</div>
                </div>
                
                <button type="submit"
                        class="btn btn-primary btn-large"
                        ng-class="{busy:loading}"
                        ng-disabled="busy"
                        ng-click="signUp()">
                    {{busy && 'Signing up...' || 'Sign Up'}}
                </button>
            </fieldset>
        </form>
        <div class="form-alerts">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>
</div>